@page
@using DTOs;
@using System.Text.Json;
@model CinemaWebClient.Pages.User.IndexModel
@{
    Layout = "_Layout";

}

<div class="container">
    <ul class="nav nav-tabs text-uppercase" style="margin: 20px 0;">
        <li class="text-center active mr-10">
            <a class="btn btn-primary" href="#" role="button">Account's info</a>
        </li>
        <li class="text-center mr-10">
            <a class="btn active" href="/User/HistoryBuyTickets" role="button">History buy tickets</a>
        </li>
        <li class="text-center mr-10">
            <a class="btn active" href="/User/HistoryRecharges" role="button">History recharge</a>
        </li>
    </ul>
</div>

<div class="d-sm-flex align-items-center mb-4 content-center">
    <h1 class="h3 mb-0 text-gray-800" style="text-shadow: 0px 5px 20px gray;">ACCOUNT'S INFO</h1>
</div>
<div class="card shadow mb-4" style="width:50%; margin: 0 auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body justify-content-center">
        <form class="" method="post">
            <input type="hidden" class="form-control" asp-for="@Model.userDTO.Email">
            <input type="hidden" class="form-control" asp-for="@Model.userDTO.UserId">
            <input type="hidden" class="form-control" asp-for="@Model.userDTO.AccountBalance" >
            <div class="">
                <label for="" class="form-label">Email: <span>@Model.userDTO.Email</span></label>
            </div>
            <div class="">
                <label for="" class="form-label">First name</label>
                <input type="text" class="form-control" asp-for="@Model.userDTO.FirstName">
            </div>
            <div class="">
                <label for="" class="form-label">Last name</label>
                <input type="text" class="form-control" asp-for="@Model.userDTO.LastName">
            </div>
            <div class="">
                <p class="form-label">Baclance: <b>@Model.userDTO.AccountBalance VND</b></p>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-2 btn-mua-ve">Update</button>
            </div>

            <a href="">Change password ?</a>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<style>
    .mr-10 {
        margin-right: 10px;
    }

    .btn-mua-ve {
        padding: 10px 40px;
        position: relative;
        border-radius: 4px !important;
    }

    .btn-2, .btn-2:hover {
        background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
        color: #fff;
    }
</style>

@if (TempData["ErrorMsg"] != null)
{
    <script>
        $(document).ready(function () {
            NotificationMessageError('@TempData["ErrorMsg"].ToString()');
        });
    </script>
}
else if (TempData["SuccessMsg"] != null)
{
    <script>
        $(document).ready(function () {
            NotificationMessageSuccess('@TempData["SuccessMsg"].ToString()');
        });
    </script>
}
