@page
@using DTOs;
@using System.Text.Json;
@model CinemaWebClient.Pages.Film.Booking.IndexModel
@{
    var strData = HttpContext.Session.GetString("info");

    var options = new JsonSerializerOptions()
            {
                PropertyNameCaseInsensitive = true
            };
    UserSignInResponseDTO? user = JsonSerializer.Deserialize<UserSignInResponseDTO>(strData, options) ?? null;
}
<div class="row py-3">
	<div class="col-md-12 py-3 text-center">
		<h3>@(Model.Show.Film.Title) <br /> @(Model.Show.ShowDate.ToString("dd/MM/yyyy hh:mm tt"))</h3>
		<h4>Price: @(Model.Show.Price.ToString("C0").Substring(1)) VNĐ</h4>
	</div>
	<div class="col-md-12 pb-3">
		<form method="post" class="form-group d-flex flex-column justify-content-center align-items-center">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div>
				@for (int i = 0; i < Model.Show.Room.NumberRow; i++)
				{
					<div class="d-flex">
						@for (int j = 0; j < Model.Show.Room.NumberColumn; j++)
						{
							if (Model.Show.SeatStatus[i * Model.Show.Room.NumberColumn + j] == '1')
							{
								<div class="d-flex flex-column">
									<label class="form-label"><b>@((i * Model.Show.Room.NumberColumn + j) + 1)</b></label>
									<input class="form-check-inline seats" style="width:20px; height:20px" value="@(i * Model.Show.Room.NumberColumn + j)" type="checkbox" name="seats" checked disabled />
								</div>
							}
							else
							{
								<div class="d-flex flex-column">
									<label class="form-label"><b>@((i * Model.Show.Room.NumberColumn + j) + 1)</b></label>
									<input class="form-check-inline seats" style="width:20px; height:20px" value="@(i * Model.Show.Room.NumberColumn + j)" type="checkbox" name="seats" />
								</div>
							}
						}
					</div>
				}
			</div>
			<div class="form-group">
				<label class="form-label" style="width:15%"><b>Amount</b></label>
				<input id="totalAmount" class="form-control" value="0" type="text" readonly />
			</div>
			<button class="btn btn-primary my-3" type="submit">Buy</button>
		</form>
	</div>
	<hr class="dropdown-divider" />
	<div id="info-bk" class="py-3 info-booking d-none">
		<h4 class="text-center">Your Booking Seats</h4>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Seats Booking</th>
					<th>Amount</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody id="contentTable">
			</tbody>
		</table>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			var price = @(Model.Show.Price);
			var seats = $("input.seats");
			seats.each((v, i) => {
				$(this).on("change", GetAmountPayment);
			})
			function GetAmountPayment() {
				var seatsRemain = seats.filter((v, i) => i.disabled == false)
				var seatsChosen = seatsRemain.filter((v, i) => i.checked == true)
				var totalAmount = price * seatsChosen.length;
				$("#totalAmount").val(formatStringToCurrencyVND(totalAmount + '') + ' VNĐ');
			}
			let params = new URLSearchParams(document.location.search);
			let idShow = params.get("id");
			let idUser = @(user.UserId);
			$.ajax({
				url: "http://localhost:5001/api/Bookings/" + idShow + "/" + idUser,
				type: 'GET',
				data: {
				},
				success: (response) => {
					console.log(response);
					if (response.length > 0) {
						var tr = "";
						response.forEach((value, index) => {
							tr += `<tr>
																<td>${GetNoSeat(value.seatBooking)}</td>
																<td>${formatStringToCurrencyVND(value.amount + '')} VNĐ</td>
																<td>${ParseDateTime(value.dateBooking)}</td>
															</tr>`
						});
						$("#contentTable").html(tr);
						$("#info-bk").addClass("d-block");
						$("#info-bk").removeClass("d-none");
					}
				},
				error: (err) => {
					NotificationMessageError("Server not respone!");
				}
			});

			function GetNoSeat(seatsB) {
				var seatBooked = [];
				var rs = Array.from(seatsB).filter((value, index) => {
					if (value == '1') {
						seatBooked.push(index*1 + 1);
						return true;
					}
					return false;
				})
				return seatBooked.join(", ");
			}
		})
	</script>
	@if (TempData["ErrorMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageError('@TempData["ErrorMsg"].ToString()');
			});
		</script>
	}
	else if (TempData["SuccessMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageSuccess('@TempData["SuccessMsg"].ToString()');
			});
		</script>
	}
}