@page
@model CinemaWebClient.Pages.Admin.Show.CreateModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Create Show</h6>
		</div>
		<div class="card-body row">
			<form method="post" class="col-md-4">
				<div class="mb-3">
					<label class="form-label"><b>Film</b></label>
					<select asp-for="Show.FilmId" class="form-control">
						@foreach (var item in Model.Films)
						{
							if (item.FilmId == Model.Show.FilmId)
							{
								<option value="@item.FilmId" selected>@item.Title</option>
							}
							else
							{
								<option value="@item.FilmId">@item.Title</option>

							}
						}
					</select>
					<span asp-validation-for="Show.FilmId" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label"><b>Room</b></label>
					<select asp-for="Show.RoomId" class="form-control">
						@foreach (var item in Model.Rooms)
						{
							if (item.RoomId == Model.Show.RoomId)
							{
								<option value="@item.RoomId" selected>@item.RoomName</option>
							}
							else
							{
								<option value="@item.RoomId">@item.RoomName</option>
							}
						}
					</select>
					<span asp-validation-for="Show.RoomId" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label"><b>Price</b></label>
					<input asp-for="Show.Price" class="form-control">
					<span asp-validation-for="Show.Price" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label"><b>ShowDate</b></label>
					<input asp-for="Show.ShowDate" class="form-control">
					<span asp-validation-for="Show.ShowDate" class="text-danger"></span>
				</div>

				<input type="submit" class="btn btn-primary" value="Save" />
			</form>
		</div>
	</div>
	
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			//LoadDataFilm();
			//LoadDataRoom();

			function LoadDataRoom() {
				var optionRoom = document.getElementById('Show_RoomId');
				optionRoom.innerHTML = "";
				$.ajax({
					url: 'http://localhost:5001/api/Rooms',
					type: 'GET',
					data: {
					},
					success: (data) => {
						var tr = '';
						for (var i = 0; i < data.length; i++) {
							tr += `<option value="${data[i].roomId}">${data[i].roomName}</option>`;
						}
						optionRoom.innerHTML = tr;
					},
					error: (err) => {
						NotificationMessageError("Server not respone!");
					}
				});
			}
			function LoadDataFilm() {
				var optionFilm = document.getElementById('Show_FilmId');
				optionFilm.innerHTML = "";
				$.ajax({
					url: 'http://localhost:5001/api/Films',
					type: 'GET',
					data: {
					},
					success: (data) => {
						console.log(data)
						var tr = '';
						for (var i = 0; i < data.length; i++) {
							tr += `<option value="${data[i].filmId}">${data[i].title}</option>`;
						}
						optionFilm.innerHTML = tr;
					},
					error: (err) => {
						NotificationMessageError("Server not respone!");
					}
				});
			}
		});


	</script>
}