@page
@model CinemaWebClient.Pages.Admin.Film.EditModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Edit Film</h6>
		</div>
		<div class="card-body row">
			<form method="post" class="col-md-5" enctype="multipart/form-data">

				<input asp-for="@Model.FilmDTO.FilmId" type="hidden" class="form-control">
				<input asp-for="@Model.FilmDTO.Image" type="hidden" class="form-control">

				<div class="mb-3">
					<label class="form-label"><b>Title</b></label>
					<input asp-for="@Model.FilmDTO.Title" type="text" class="form-control">
					<span asp-validation-for="@Model.FilmDTO.Title" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label for="file-input" class="form-label">Image</label>
					<div id="wrapper-image-preview">
					</div>
					<input class="form-control" accept="image/*" type="file" id="file-input" asp-for="@Model.ImageFile" name="imageFile" required>
				</div>

				<div class="mb-3">
					<label class="form-label"><b>Genre</b></label>
					<select asp-items="@(new SelectList(Model.Genres,"GenreId","GenreName"))" asp-for="@Model.FilmDTO.GenreId" class="form-control"></select>
					<span asp-validation-for="@Model.FilmDTO.GenreId" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label"><b>Duration</b></label>
					<input asp-for="@Model.FilmDTO.FilmDuration" type="number" class="form-control" placeholder="Input number column">
					<span asp-validation-for="@Model.FilmDTO.FilmDuration" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label"><b>Country</b></label>
					<select asp-items="@(new SelectList(Model.Countries,"CountryCode","CountryName"))" asp-for="@Model.FilmDTO.CountryCode" class="form-control"></select>
					<span asp-validation-for="@Model.FilmDTO.CountryCode" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label"><b>Description</b></label>
					<textarea asp-for="@Model.FilmDTO.Description" id="editor"></textarea>
					<span asp-validation-for="@Model.FilmDTO.Description" class="text-danger"></span>
				</div>

				@if (!string.IsNullOrEmpty(Model.Message))
				{
					<div class="mb-3 d-flex">
						<span class="text-danger">@Model.Message</span>
					</div>
				}
				<input type="submit" class="btn btn-primary" value="Save" />
			</form>
		</div>
	</div>

</div>


<style>

	img {
		width: 100%;
		object-fit: cover;
		margin-bottom: 20px;
	}
</style>


<script>

	$(document).ready(function () {
		LoadImage();
	});

	function LoadImage() {
		var wrapperImagePreview = document.querySelector("#wrapper-image-preview");
		wrapperImagePreview.innerHTML = `
			<img id="img-preview" src="http://localhost:5001/api/Images/@Model.FilmDTO.Image"/>
		`;
	}

	ClassicEditor
		.create(document.querySelector('#editor'), {
			toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'insertTable', 'imageUpload', 'undo', 'redo'],
		})
		.catch(error => {
			console.error(error);
		});

	const input = document.getElementById('file-input');
	input.addEventListener('change', (e) => {
		const image = document.getElementById('img-preview');
		if (e.target.files.length) {
			const src = URL.createObjectURL(e.target.files[0]);
			image.src = src;
		}
	});
</script>
