@page
@model CinemaWebClient.Pages.Film.DetailModel
@{
}
<div class="row" style="margin-top:20px; margin-bottom: 20px;">
    <h6><a href="/Home" style="text-decoration: solid">Home</a> &gt; <span style="color:#03599D">@Model.Film.Title</span></h6>
</div>

<div class="row py-3">
	<div class="col-md-3" style="height: 380px;">
		<img class="w-100 h-100" style="object-fit:cover; border-radius: 10px;" src="http://localhost:5001/api/images/@Model.Film.Image" />
	</div>
	<div class="col-md-9">
		<h4>@Model.Film.Title</h4>
		<table class="table-responsive">
            <tr>
                <th>Description &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <td>@Model.Film.Description</td>
            </tr>
            <tr>
                <th>Genre &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <td>@Model.Film.Genre.GenreName</td>
            </tr>
            <tr>
                <th>Duration &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <td>@(Model.Film.FilmDuration) Minutes</td>
            </tr>
            <tr>
                <th>Date Release &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <td>@(Model.Film.DateRelease?.ToString("dd/MM/yyyy") ?? "")</td>
            </tr>
        </table>
	</div>
	<hr class="dropdown-divider my-3" />
	@if (Model.Film.Shows.Count > 0)
	{
		<div class="d-flex py-3">
			@foreach (var item in Model.Film.Shows)
			{
				<a class="btn btn-light active" href="/Film/Booking/Index?id=@item.ShowId">
					<div>@item.ShowDate.ToString("dd/MM/yyyy hh:mm tt")</div>
					@{
						long remainSeats = 0;
						if (item.SeatStatus != new string('1', item.SeatStatus.Length))
						{
							remainSeats = item.SeatStatus.Count(x => x == '0');
						}
					}
					<div>Remain: @(remainSeats) Seats</div>
					<div>Cost: @(item.Price.ToString("C0").Substring(1)) VNĐ</div>
				</a>
			}
        </div>
    } else
    {
        <div class="text-center">Don't have any show!</div>
    }
</div>

<script src="/lib/bootstrap//dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>

